<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>city not found</title>
    <style>
    body {
     background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
    }
    </style>
</head>
<body>


<br>
<br>

<h1 align="center">oops city not found</h1>


<h2 align="center" ><a href="{{url_for('index')}}">GO BACK</a></h2>

</body>
</html>